#paris-tourism,
#santorini-tourism,
#rome-tourism {
    svg {
        rect.bar {
            fill: $secondary-color;
        }
        
        .tick text {
            font-family: 'Roboto', sans-serif;
            color: #484848;
        }
        
        .axis path,
        .axis line {
            stroke: none;
        }
    }
}